

.item-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    
    .col-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem ;
        border-style: solid;
        border-color: #B7A685;
        border-radius: 10px;
        padding: 10px;
        border-width: 2px;
        

        img{
            width: 25vw;
            height: 60vh;
            border-radius: 10px;
            
        }
        h2{
            margin: 0;
            text-align: center;
            font-size: 1.5rem;
            color: #B7A685;
            
        }

        h4{
            margin: 0;
            text-align: center;
            font-size: 1.5rem;
            color: #B7A685;
        }
    
        p{
            text-align: center;
            font-size: 1rem;
            color: #ffffff;
            width: 300px;
            height: auto;
            margin: 0;
        }
    }

    .col-info:hover{
        transform: scale(1.01);  
    }

    .agregar-carrito{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
}   