

.card-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5vh;
    border-style:solid;
    border-color: #B7A685;
    border-radius: 10px;
    padding: 15px;
    width: 20vw;
    margin: 0;
    border-width: 2px;
    


    img{
        width: 20vw;
        height: 25vw;
        border-radius: 10px;
        object-fit: cover;
        
        
    }

    // img:hover{
    //     transform: scale(1.01);
    // }
    h2{
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        color: #B7A685;
    }

    h3{
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        color: #B7A685;
    }

    p{
        text-align: center;
        font-size: 1rem;
        color: #ffffff;
        width: 300px;
        height: auto;
        margin: 0;
    }

    .boton-prodcutos{
        button{
            width: 10vw;
            height: 5vh;
            font-size: 1rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #B7A685;
            color: #000000;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            // transition: 0.3s ease;
            
        }

        // button:hover{
        //     transform: scale(1.03);
        // }

        
    }

}

.card-productos:hover{
    transform: scale(1.01);
}