
.contador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

    .boton-suma-resta{

        display: flex;
        align-items: center;
        justify-content: center;
        
        button{
            width: 2vw;
            height: 4vh;
            border-radius: 5px;
            border-style: none;
            background-color: white;
            color: black;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            
        }

        button:hover{
            background-color: #B7A685;
            color: rgb(0, 0, 0);
            transform: scale(1.05);
        }
        p{
            text-align: center;
            width: 3vw;
            height:auto;
            font-size: 1.2rem;
            color: white;
            font-weight: bold
        }
    }

    

    .boton-agregarcarrito{
        
        width: 11vw;
        height: 6vh;
        border-radius: 5px;
        border-style: none;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
        margin: 0;
        padding: 0;
        
    }

    .boton-agregarcarrito:hover{
        background-color: #B7A685;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
    }
}