
.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5px;
    .logo{
        img{
            width: 10vw;
            height: auto;
            transform: 0.3s ease;
        }

        img:hover{
            transform: scale(1.1);
        }
    }
    .links-navbar{
        display: flex;
        list-style: none;
        gap: 4rem;
        
        li{
            
            a{
                text-decoration: none;
                color: #B7A685;
                font-size: 2rem;
                transition: color 0.1s ease-in-out, text-shadow 0.1s ease-in-out; 
                display: inline-block;
            }

            a:hover{
                transform: scale(1.1);
                color: white; 
                text-shadow: 0 0 10px #B7A685; 
            }

            .active{
                color: white;
            }
        }

        
    }

}