
body{

    background-color: rgb(0, 0, 0);
    color: white;

    .header{
        background-color: rgb(255, 255, 255);
    }


    .productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: stretch;
        padding: 20px;
        gap: 2rem;
        width: 100%;
        justify-items: center;
        

        

    }
}